div.cartDiv {
    max-width: 1190px;
    margin: 10px auto;
    color: black;
}

div.cartTitle {
    overflow: hidden;
    font-size: 12px;
    position: relative;
}

div.cartTitle ul {
    overflow: hidden;
    height: 33px;
    padding: 0;
    margin: 0;
}

div.cartTitle ul li {
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', SimSun;
    text-align: center;
    padding: 0 0 15px 0;
    cursor: pointer;
    margin-left: -1px;
}

div.cartTitle ul li a {
    padding-left: 25px;
    text-decoration: none;
    color: #3c3c3c;;
}

div.cartTitle ul li.current a {
    padding-left: 15px;
    text-decoration: none;
}

div.cartTitle ul li.disabled a {
    cursor: not-allowed;
}

div.cartTitle ul a em {
    font-style: normal;
}

div.cartTitle ul .current a em {
    color: #C40000;
}


div.cartTitle ul .number {
    color: #C40000;
    font-size: 14px;
    margin: 0 30px 0 5px;
    font-weight: 400;
}

div.cartTitle ul .pipe {
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #e8e8e8;
}

div.cartTitle button {
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    color: white;
    width: 53px;
    height: 25px;
    border-radius: 2px;
}

.wrap-line {
    clear: both;
    background: #e6e6e6;
    height: 2px;
    position: relative;
}

.wrap-line .floater {
    background: #C40000;
    height: 2px;
    /*width: 0;*/
    position: absolute;

    top: 0;
    /*left: 0;*/
    overflow: hidden;
    width: 132px;
    left: -1px;
}

span.cartTitlePrice {
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}

div.cartFoot {
    background-color: #E5E5E5;
    line-height: 50px;
    margin: 20px 0px;
    color: black;
    padding-left: 20px;
}

div.cartFoot button {
    background-color: #AAAAAA;
    border: 0px solid #AAAAAA;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

img.cartProductItemIfSelected, img.selectAllItem {
    cursor: pointer;
}

span.cartSumNumber {
    color: #C40000;
    font-weight: bold;
    font-size: 16px;
}

span.cartSumPrice {
    color: #C40000;
    font-weight: bold;
    font-size: 20px;
}

table.cartProductTable {
    width: 1190px;
    font-size: 12px;
}

tr.cartProductItemTR {
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding: 0;
}

tr.cartProductItemTR td {
    padding: 20px 20px;
}

table.cartProductTable th {
    font-weight: normal;
    color: #3C3C3C;
    padding: 20px 20px;
}

img.cartProductImg {
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 80px;
}

table.cartProductTable th.selectAndImage {
    width: 140px;
}

table.cartProductTable th.operation {
    width: 30px;
}

div.cartProductLinkOutDiv {
    position: relative;
    height: 80px;
    width: 342px;
}

a.cartProductLink {
    color: #3C3C3C;
}

a.cartProductLink:hover {
    color: #C40000;
    text-decoration: underline;
}

div.cartProductLinkInnerDiv {
    position: absolute;
    bottom: 0;
    height: 20px;
}

span.cartProductItemOringalPrice {
    text-decoration: line-through;
    color: #9C9C9C;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

span.cartProductItemPromotionPrice {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}

div.cartProductChangeNumberDiv {
    width: 77px;
    height: 25px;
    position: relative;
    overflow: hidden;
}

div.cartProductChangeNumberDiv a {
    display: block;
    height: 25px;
    width: 19px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    text-decoration: none;
    position: absolute;
    top: 0;
    float: left;
}

div.cartProductChangeNumberDiv input {
    width: 41px;
    height: 25px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    background-position: -75px -375px;
    position: absolute;
    z-index: 2;
    left: 18px;
    float: left;
}

div.cartProductChangeNumberDiv .numberPlus {
    border-left-color: transparent;
    right: 0;
}

div.cartProductChangeNumberDiv .numberMinus {
    border-right-color: transparent;
}

span.cartProductItemSmallSumPrice {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}

img.cartProductItemIfSelected, img.selectAllItem {
    cursor: pointer;
}