ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.imgAndInfo {
    width: 1190px !important;
    margin: 10px auto;
}
div.imgHead,div.imgHead img{
    width: 100%;
    height: 150px;
}

div.imgAndInfoWrap {
    width: 990px;
    position: relative;
    z-index: 100;
    min-height: 600px;
}

div.imgInimgAndInfo {
    width: 100px;
    float: left;
}

div.infoInimgAndInfo {
    margin: 0 0 0 460px;
    color: #666;
    padding: 0 0 10px;
}

div.infoRight {
    right: -200px;
    width: 200px;
    z-index: 0;
    position: absolute;
    top: 0;
    border-left: 1px solid #f2f2f2;
    height: 100%;
}

div.infoRightInner {
    display: block;
    height: 100%;
    width: 200px;
}

div.infoRightHd {
    position: relative;
    height: 15px;
    margin-top: 5px;
    overflow: hidden;
}

div.infoRightHd s {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 140px;
    height: 0;
    border-top: 1px #c9c9c9 dotted;
    text-decoration: none;
}

div.infoRightHd span {
    position: absolute;
    color: #999;
    text-align: center;
    width: 6em;
    top: 0;
    left: 50%;
    margin-left: -3em;
    background-color: #fff;
}

div.infoRightInner .infoRightContent {
    padding: 10px 12px 2px 13px;
    position: relative;
}

div.infoRightInner .infoRightContent .infoRightImg {
    height: 522px;
    overflow: hidden;
    position: relative;
}

.infoRightImg ul {
    padding: 0;
    width: 100%;
}

.infoRightImg ul li {
    height: 174px;
}

div.infoRightInner .infoRightContent .infoRightImg .img {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    position: relative;
    background-color: #f8f8f8;
    vertical-align: middle;
    line-height: 120px;
    overflow: hidden;
}

div.infoRightInner .infoRightContent .infoRightImg .img a {
    display: block;
    text-align: center;
    color: #62574e;
    zoom: 1;
    cursor: pointer;
}

div.infoRightInner .infoRightContent .infoRightImg .img img {
    vertical-align: middle;
    max-height: 140px;
    max-width: 140px;
    border: 0;
}

.lookPrice {
    width: 100%;
    left: 0;
    position: absolute;
    font-family: Arial;
    line-height: 20px;
    background-color: rgba(255, 255, 255, .8);
    bottom: 0;
    text-align: center;
}

.lookTit {
    margin-top: .2em;
}

.lookTit a {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: center;
    color: #62574e;
    zoom: 1;
    cursor: pointer;
    outline: 0;
}

.lookTit a:hover {
    color: #FF0036;
    text-decoration: underline;
}

div.infoRightInner .infoRightContent .infoRightTrigger {
    overflow: hidden;
    padding: 0 42px;
}

.infoRightTrigger .triggerPre, .triggerNext {
    background-color: transparent;
    width: 27px;
    height: 27px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.infoRightTrigger .triggerPre {
    float: left;
    background-position: 0 0;
    background-image: url(//img-tmdetail.alicdn.com/tps/i1/T1Z0VbFEdcXXbcIIcR-80-112.png);
}

.infoRightTrigger .triggerNext {
    float: right;
    background-position: 0 -30px;
    background-image: url(//img-tmdetail.alicdn.com/tps/i1/T1Z0VbFEdcXXbcIIcR-80-112.png);
}

div.infoInimgAndInfo div.productTitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 10px 12px;
}

div.infoInimgAndInfo div.productSubTitle {
    font-size: 14px;
    color: #FF0036;
    font-weight: normal;
}

div.infoInimgAndInfo .productPrice {
    position: relative;
    margin-right: 20px;
}

div.infoInimgAndInfo div.juhuasuan {
    background-color: #2DA77A;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    height: 40px;
}

div.infoInimgAndInfo span.juhuasuanBig {
    font-size: 27px;
    font-weight: bold;
    font-family: 黑体;
    margin-right: 10px;
    /*line-height: 36px;*/
}

div.infoInimgAndInfo span.juhuasuanTime {
    color: #FFC057;
    font-weight: bold;
}

div.infoInimgAndInfo div.productPriceDiv {
    background-image: url(http://how2j.cn/tmall/img/site/priceBackground.png);
    position: relative;
    left: 0;
    z-index: 10;
    font: 12px/1.5 "Microsoft Yahei", tahoma, arial;
    padding-bottom: 5px;
    padding-top: 5px;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
}

div.infoInimgAndInfo div.gouwujuanDiv {
    margin-top: .2em;
    height: 22px;
}

div.infoInimgAndInfo div.gouwujuanDiv img {
    position: relative;
    top: 3px;
    height: 16px;
    /*padding-top: 3px;*/
}

div.infoInimgAndInfo div.gouwujuanDiv span {
    line-height: 22px;
}

div.infoInimgAndInfo div.originalDiv {
    margin-top: 5px;
}

div.infoInimgAndInfo span.originalPriceDesc {
    color: #999999;
    display: inline-block;
    width: 68px;
}

div.infoInimgAndInfo span.originalPrice {
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    text-decoration: line-through;
}

div.infoInimgAndInfo span.promotionPriceYuan {
    font-family: Arial;
    font-size: 18px;
    color: #C40000;
}

div.infoInimgAndInfo span.promotionPrice {
    color: #c40000;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

.promotionDiv > span {
    height: 36px;
    line-height: 36px;
}

div.infoInimgAndInfo span.promotionPriceDesc {
    color: #999999;
    display: inline-block;
    width: 68px;
    /*position: relative;*/
    /*left: 0px;*/
    /*top: 6px;*/

}

div.productCarriage {
    margin: 5px 20px 5px 10px;
}

div.productCarriage .deliveryPanel {
    position: relative;
    line-height: 24px;
}

div.productCarriage .deliveryPanel .deliveryWrap {
    line-height: 18px;
    padding: 9px 0;
    margin-left: 70px;
}

.cityChoice, .regionChoice {
    background-color: transparent;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-repeat: no-repeat;
}

div.infoInimgAndInfo div.productSaleAndReviewNumber {
    border: 1px dotted #c9c9c9;
    border-right: 0;
    border-left: 0;
    margin: -1px 20px 0 0;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;
}

div.infoInimgAndInfo div.productSaleAndReviewNumber div {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    color: #999999;
    font-size: 12px;
}

div.infoInimgAndInfo div.productSaleAndReviewNumber div:nth-child(-n+2) {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E5DFDA;
}

div.productSaleSize {
    padding-top: 5px;
    position: relative;
    margin: 10px 20px 10px 10px;
    padding-bottom: 6px;
    height: 45px;
}

.size {
    text-align: left;
    float: left;
    width: 66px;
    margin-top: 6px;

}

.sizeItem {
    float: left;
    position: relative;
    margin: 0 6px 6px 0;
    line-height: 28px;
    background-color: #fff;
    white-space: nowrap;
    width: auto !important;
    min-width: 10px;
    padding: 0 9px;
    text-align: center;
    border: 1px solid #b8b7bd;
    cursor: pointer;
}

.sizeItemAdd{
    outline: 3px solid #c40000;
    border: 1px solid #FFF;
}

div.infoInimgAndInfo div.productNumber {
    /*color: #999999;*/
    margin: 0 20px 10px 10px;

}

div.infoInimgAndInfo span.productNumberSettingSpan {
    /*border: 1px solid #999;*/
    /*display: inline-block;*/
    /*width: 43px;*/
    height: 32px;
    /*padding-top: 7px;*/
}

.productNumberSettingSpan input.productNumberSetting {
    vertical-align: middle;
    padding: 3px 2px 0 3px;
    line-height: 26px;
    font-size: 12px;
    margin: 0;
    height: 31px;
    border: 1px solid #a7a6ac;
    width: 36px;
    background-position: -406px -41px;
    color: #666;
}

/*div.infoInimgAndInfo input.productNumberSetting {*/
/*border: 0px;*/
/*padding: 3px 2px 0 3px;*/
/*line-height: 26px;*/
/*}*/

div.productNumber .increaseNumber,.decreaseNumber {
    border: 1px solid #a7a6ab;
    display: block;
}

div.productNumber span.updown {
    width: 16px;
    height: 12px;
    overflow: hidden;
    display: block;
    line-height: 12px;
    font-size: 8px;
    text-align: center;
    color: #a7a6ab;
}

div.productNumber span.updownMiddle {
    height: 3px;
    display: block;
}

div.productNumber span.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 31px;
    border: 0;
}

div.serviceCommitment {
    margin: 40px 0px;
}

div.infoInimgAndInfo span.serviceCommitmentDesc {
    color: #999999;
    width: 66px;
}

.serviceCommitmentLink a {
    display: inline-block;
    white-space: nowrap;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 25px;
    text-decoration: none;
}

div.infoInimgAndInfo span.serviceCommitmentLink a {
    color: #666666;
}

div.buyDiv {
    padding: 10px 0 0 6px;
    margin: 10px 0 0;
    text-align: center;
}

div.buyDiv button {
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}

button.buyButton {
    border: 1px solid #C40000;
    background-color: #FFEDED;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #C40000;
    font-family: arial;
}

button.addCartButton {
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: arial;
}

button.addCartButton span.glyphicon {
    font-size: 12px;
    margin-right: 8px;
}

a:hover {
    text-decoration: none;
}

.redColor {
    color: #C40000;
}

.greenColor {
    color: #280;
}

.boldWord {
    font-weight: bold;
}
div.imgAndInfo .bigImg {
    position: relative;
    display: table;
    table-layout: fixed;
    z-index: 1;
    width: 420px;
    height: 420px;
    margin: 20px auto 0;
}

div.imgAndInfo .bigImg a {
    width: 418px;
    height: 418px;
    border: 1px solid #F2F2F2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.imgInimgAndInfo {
    width: 400px;
    float: left;

}

div.imgAndInfo .zoomIcon {
    font-style: normal;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    width: 30px;
    z-index: 2;
    position: absolute;
    background-color: #fff;
    opacity: .6;
    color: #333;
    font-size: 18px;
    right: 0;
    top: 390px;
}

div.imgAndInfo .PlayVideo {
    position: absolute;
    font-size: 36px;
    top: 370px;
    left: 10px;
    font-style: normal;
    cursor: pointer;
    z-index: 1000;

}

div.imgAndInfo a img {
    vertical-align: middle;
    width: 314px;
    height: 418px;
}

div.imgAndInfo div.smallImageDiv {
    width: 400px;
    float: left;
    margin: 20px auto;
}

div.imgAndInfo img.smallImage {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    margin-left: 16px;
}

div.imgAndInfo img.smallImage:hover {
    border: 2px solid black;
}